# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* Check simple arithmetc expressions
* List common libraries in Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:

1. scikilearn
2. plotly
3. pandas


| Data Science Tools | 
| ------------------ |
| MongoDB | 
| cassandra |
| hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author 
Dums